.boxed {
    padding: 30px 0
}

.videoshop_tabs label {
    font-family: sans-serif;
    font-weight: 400;
    vertical-align: top;
    font-size: 15px
}

.wc_videoshop_aria .techno_main_tabs {
    float: left;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-right: .5em;
    font-size: 14px;
    line-height: 1.71428571;
    font-weight: 600;
    background: #e5e5e5;
    text-decoration: none;
    white-space: nowrap
}

.wc_videoshop_aria .techno_main_tabs a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #555
}

.wc_videoshop_aria .main-panel {
    overflow: hidden;
    border-bottom: 1px solid #ccc
}

.wc_videoshop_aria .techno_main_tabs.active a {
    background: #f1f1f1
}

.wc_videoshop_aria .techno_main_tabs a:focus {
    box-shadow: none;
    outline: 0 solid transparent
}

.wc_videoshop_aria .techno_main_tabs {
    display: block;
    float: left;
}

.wc_videoshop_aria .techno_main_tabs.active {
    margin-bottom: -1px
}

.videoshop_tabs.tab_premium label {
    vertical-align: middle
}

.col-50 {
    width: 46%;
    float: left
}

.submit_btn_cls p {
    text-align: right;
}

.col-50 img {
    width: 183px;
    float: left
}

tr.primium_aria {
    opacity: 0.5;
    cursor: help;
}

.primium_aria label,
.primium_aria input {
    pointer-events: none;
    cursor: not-allowed;
}

.content_right a {
    background: #00f;
    font-family: "Trebuchet MS", sans-serif !important;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-color: #538fbe;
    padding: 10px 40px;
    font-size: 20px;
    border: 1px solid #2d6898;
    background-image: linear-gradient(bottom, #4984b4 0, #619bcb 100%);
    background-image: -o-linear-gradient(bottom, #4984b4 0, #619bcb 100%);
    background-image: -moz-linear-gradient(bottom, #4984b4 0, #619bcb 100%);
    background-image: -webkit-linear-gradient(bottom, #4984b4 0, #619bcb 100%);
    background-image: -ms-linear-gradient(bottom, #4984b4 0, #619bcb 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4984b4), color-stop(1, #619bcb));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 0 #2b638f, 0 3px 15px rgba(0, 0, 0, .4), inset 0 1px 0 rgba(255, 255, 255, .3), inset 0 0 3px rgba(255, 255, 255, .5);
    -moz-box-shadow: 0 0 0 #2b638f, 0 3px 15px rgba(0, 0, 0, .4), inset 0 1px 0 rgba(255, 255, 255, .3), inset 0 0 3px rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 #2b638f, 0 3px 15px rgba(0, 0, 0, .4), inset 0 1px 0 rgba(255, 255, 255, .3), inset 0 0 3px rgba(255, 255, 255, .5);
    margin-top: 10px
}

/* meta data */

.videoshop_lbl,
.video_delete_aria,
.video_thumbnail_aria,
.video_thumbnail_btn,
.video_url_aria {
    display: inline-block
}

button.button.add_video {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

table.product_videos_tbl tbody tr td {
    background: #ddd;
    border: 1px solid #aaa;
    padding: 15px
}

.videoshop_lbl {
    min-width: 64px
}

.videoshop_input {
    width: 300px
}

.video_thumbnail_btn {
    vertical-align: bottom;
    padding-bottom: 25px
}

b.button.video-remove-btn {
    padding: 10px 20px 0;
    color: #b32d2e;
    background: #fff1f1;
    border-color: #b32d2e
}

.video_url_aria {
    width: 92%
}

.video_delete_aria {
    text-align: right;
    width: 7.4%;
    vertical-align: top
}

button.button.add_video span.dashicons.dashicons-insert {
    vertical-align: text-top
}

.video_schema_aria {
    display: inline-grid;
}

/* video url field */

.videoshop_product_video_url_section ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0 auto;
}

button.button.add_video {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}